/* ==========================================================================
   Font-face
========================================================================== */

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'robotoThin';
  src: url('../fonts/roboto/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'robotoBold';
  src: url('../fonts/roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lora';
  src: url('../fonts/Lora-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'loraItalic';
  src: url('../fonts/lora/Lora-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}