/* ==========================================================================
   Import rules : files syntax => @import 'filename'
   ========================================================================== */
/* common */
@import "common/_common.scss";

/*----------------------------------------------------------------
	Global styles
	-----------------------------------------------------------------*/

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;  
  -ms-overflow-style: scrollbar; // prevent ie10 / ie11 scrollbar overlay
}

body {
  font-family: $font-roboto;
  font-size: 13px;
  font-size: 1.3rem;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

