/* ==========================================================================
   Mixins
   ========================================================================== */

/*----------------------------------------------------------------
	Clearfix mixin for floats
-----------------------------------------------------------------*/

@mixin font-family($fontValue: regular) {
  @if $fontValue == regular {
    font-family: $font-roboto;

  } @else if $fontValue == bold {
    font-family: $font-roboto-bold;

  } @else if $fontValue == thin  {
    font-family: $font-roboto-thin;

  } @else if $fontValue == italic  {
    font-family: $font-lora-italic;

  } @else if $fontValue == lora  {
    font-family: $font-lora;
  }
}

@mixin font-size($fontValue, $sizeValue: m) {
  @if $sizeValue == xs {
    font-size: $scale-xs;
    line-height: 1rem;

  } @else if $sizeValue == s {
    font-size: $scale-s;
    line-height: 1.4rem;

  } @else if $sizeValue == m  {
    font-size: $scale-m;
    line-height: 1.8rem;

  } @else if $sizeValue == l  {
    font-size: $scale-l;
    line-height: 2.2rem;

    @if $fontValue == bold {
      line-height: 2.4rem;
    }
    @if $fontValue == lora {
      line-height: 3.6rem;
    }
  }
}

@mixin font-manager($fontValue, $sizeValue) {
  @include font-family($fontValue);
  @include font-size($fontValue, $sizeValue);
}
