<!doctype html>
<html class="no-js">

<head>
    <!-- @@include partials/_head.html  -->
</head>

<body class="">
<!--[if lte IE 9]>
<p class="browsehappy">
    Vous utilisez un navigateur <strong>obsolète</strong>.
    Merci <a href="http://browsehappy.com/">de mettre à jour votre navigateur</a> afin d'améliorer votre expérience.
</p>
<![endif]-->
<div class="page-container">
    <main role="main">

        <!--Topnav-->
        <header id="topnav">
            <!-- @@include partials/partialsTemplate.html  -->
        </header>

        <div class="page-content">
            <!-- @@include partials/partialsTemplate.html  -->
        </div>

    </main>
</div>

<!-- @@include partials/_scripts.html  -->

</body>

</html>
